/GameStore/.vs
/GameStore/packages
/GameStore/TestResults
/GameStore/Game_Store/bin
/GameStore/GameStore/logs
/GameStore/GameStore/obj
/Game_Store/GameStore.BLL/bin
/Game_Store/GameStore.BLL/obj
/GameStore/GameStore.DAL/bin
/GameStore/GameStore.DAL/obj
/GameStore/GameStore.Tests/bin
/GameStore/GameStore.Web/App_DataGameStore/GameStore.Tests/obj
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release