@model GameStore.Web.ViewModels.Accounts.BanViewModel
<body>
    <div id="searchresult">
        <p>
            <b>
                @Html.Hidden("CurrentLang", GlobalRes.CurrentLang)
                @Model.Name @GlobalRes.WasBlock
            </b>
        </p>
    </div>
</body>
