@model GameStore.Web.ViewModels.Comments.CommentViewModel


<progress id="elem"></progress>
<div>@GlobalRes.Deleting</div>
<button class="btn btn-primary" id="cancel">@GlobalRes.Cancel</button>
<script src="~/scripts/Delete.js"></script>