@using GameStore.Web.ViewModels

@model IEnumerable<CommentViewModel>



@{
    ViewBag.Title = "Menu";
   
}

<h2>Menu</h2>

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="commentsList">
<ul class="menu">
    @foreach(var mp in Model.Where(p=>p.ParentCommentId ==null))
    {

        <li>

            @if (Model.Count(p => p.ParentCommentId == mp.Id) > 0)
            {
                @:<ul>
        }

            @RenderMenuItem(Model.ToList(), mp)

            @if (Model.Count(p => p.ParentCommentId == mp.Id) > 0)
            {
                @:</ul>
       }

        </li>
    }
</ul>
 </div>
@helper RenderMenuItem(List<CommentViewModel> menuList, CommentViewModel mi)
{
foreach (var cp in menuList.Where(p => p.ParentCommentId == mi.Id))
{


    
            @: <li>






                if (menuList.Count(p => p.ParentCommentId == mi.Id) > 0)
                {
                @:<ul>
                    }

                    @RenderMenuItem(menuList, cp)

                    if (menuList.Count(p => p.ParentCommentId == mi.Id) > 0)
                    {
                    @: </ul>
                }
                else
                {
                @:</li>
            }
            }
       
}
@*<style>
    #commentsList ul { font-size:18px; }
    #commentsList ul li ul {  padding:5px 0 5px 18px; font-size:15px; }
    #commentsList ul li ul li { color:#bfe1f1; height:15px; margin-left:10px; }
</style>*@


