@using GameStore.Web.ViewModels
@using GameStore.Web.ViewModels.Comments
@model IEnumerable<CommentViewModel>
@{
    ViewBag.Title = "Menu";  
}

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="commentsList">
<ul class="menu">
    @foreach(var mp in Model.Where(p=>p.ParentCommentId ==null))
    {
        <li>
            @if (Model.Count(p => p.ParentCommentId == mp.Id) > 0)
            {
                @:<ul>
        }
            @Html.Partial("RenderMenuItem", new RenderCommentsMenuItem{Current =  mp, MenuList = Model.ToList()})
            @if (Model.Count(p => p.ParentCommentId == mp.Id) > 0)
            {
                @:</ul>
       }
        </li>
    }
</ul>
 </div>



