<h2>The comment was added</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Comments", "Comments")";
        }, 2000);
    })
</script>
