@model string

<h2>@GlobalRes.CommentAdded</h2>

<script>
    var AppUrlCommentSettings = {
        CommentUrl: '@Url.Action("Comments", "Comments")'
    }
</script>
<script src="~/scripts/SuccessComment.js"></script>