@using GameStore.Web.ViewModels;
@model OrderViewModel

@{
    ViewBag.Title = "IBox";
}

<div class="container">
    <div class="jumbotron">
        <h3 class="media-heading">
            Number of order: @Model.Id
        </h3>
        <h3 class="media-heading">
            CustomerId: @Model.CustomerId
        </h3>
        <h3 class="media-heading">
            Date of order: @Model.Date
        </h3>
        <h3 class="media-heading">
            Sum of order: @Model.Sum
        </h3>
   
    </div>
</div>



