<h2>The game was added</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Basket", "Orders")";
        }, 1000);
    })
</script>
